:root {
    --bar-height: 8px;
    --notification-timeout: 10s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', monospace;
    font-size: 10pt;
}

body,
html {
    height: 100%;
    overflow: hidden;
}

p {
    color: #ffffff;
    font-size: 14pt;
    text-align: center;
    margin-bottom: 10px;
}

li {
    color: #ffffff;
    list-style: none;
    margin: 0;
    padding: 0;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.settings-hint {
    font-size: 12pt;
    margin: 0;
    padding: 10px 0 0 0;
    color: #cc5555;
    clear: both;
}

.hint-wrapper {
    position: absolute;
    top: 30vh;
    left: 50vw;
    transform: translateX(-50%) scale(2);
    display: inline-block;
    white-space: nowrap;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(34, 34, 34, 0.8);
    visibility: hidden;
}

.hint-wrapper.is-animating {
    animation: hintSlide 1s ease-out forwards;
    visibility: visible;
}

@keyframes hintSlide {
    0% {
        left: 50vw;
        transform: translateX(-50%) scale(2);
        opacity: 0.9;
    }

    80% {
        left: 50vw;
        transform: translateX(-50%) scale(2);
        opacity: 1;
    }

    100% {
        left: 2vw;
        transform: scale(1);
        opacity: 1;
    }
}

.animation-timer {
    position: absolute;
    width: 30vw;
    height: 3vh;
    left: 35vw;
    top: 80vh;
    text-align: center;
    line-height: 3vh;
    color: white;
    font-weight: bolder;
    font-size: 16pt;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    visibility: hidden;
}

.sector-wrapper {
    position: absolute;
    top: 13vh;
    right: 20vw;
    transform: scale(2);
    display: inline-block;
    white-space: nowrap;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(34, 34, 34, 0.9);
    visibility: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.sector-wrapper.is-animating {
    animation: sectorSlide 1s ease-out forwards;
    visibility: visible;
}

@keyframes sectorSlide {
    0% {
        right: 10vw;
        transform: scale(1.5);
        opacity: 0.9;
    }

    80% {
        right: 10vw;
        transform: scale(1.5);
        opacity: 1;
    }

    100% {
        right: 1vw;
        transform: scale(1);
        opacity: 1;
    }
}

.notification-wrapper {
    position: absolute;
    top: 5vh;
    left: 20vw;
    max-height: 40vh;
    overflow-y: hidden;
    transform: scale(2);
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(34, 34, 34, 0.9);
    visibility: hidden;
}

.notification-wrapper.is-animating {
    animation: notificationSlide 1s ease-out forwards;
    visibility: visible;
}

.notification-wrapper.animation-done {
    top: 30vh;
    left: 1vw;
    transform: scale(1);
    opacity: 1;
}

.notification-list {
    max-width: 20vw;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.notification-list li {
    position: relative;
    font-size: calc(var(--notification-font-size, 1.0) * 9pt);
    padding-bottom: 5px;
    overflow: hidden;
}

.notification-list li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: white;
    animation: notification-timer var(--notification-timeout, 10s) linear forwards;
}

@keyframes notification-timer {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}

.notification-list li+li {
    margin-top: 10px;
    opacity: 1.0;
    height: auto;
}

.notification-wrapper.is-animating li+li {
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    height: 0 !important;
    opacity: 0 !important;
}

@keyframes notificationSlide {
    0% {
        top: 5vh;
        left: 50vw;
        transform: translateX(-50%) scale(1.5);
        opacity: 0.9;
    }

    80% {
        top: 5vh;
        left: 50vw;
        transform: translateX(-50%) scale(1.5);
        opacity: 1;
    }

    100% {
        top: 30vh;
        left: 1vw;
        transform: scale(1);
        opacity: 1;
    }
}

.sector-title {
    font-size: 14pt;
    margin-bottom: 5px;
    font-weight: bold;
}

.sector-capture-list,
.sector-vote-list {
    width: 13vw;
}

.sector-capture-list li {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
    font-size: 10pt;
    padding-bottom: calc(var(--bar-height) + 7px);
    margin-bottom: 10px;
    background: linear-gradient(to right,
            var(--bar-left-color, #ccc) 0%,
            var(--bar-left-color, #ccc) var(--bar-width, 50%),
            var(--bar-right-color, #333) var(--bar-width, 50%),
            var(--bar-right-color, #333) 100%) bottom / 100% var(--bar-height) no-repeat;
}

.sector-capture-list span {
    font-size: 9pt;
    font-weight: bold;
}

.capture-arrow {
    position: absolute;
    color: black;
    left: var(--bar-width, 50%);
    transform: translateX(-50%);
    bottom: 0;
    height: var(--bar-height);
    line-height: var(--bar-height);
    font-size: var(--bar-height) !important;
}

.capture-arrow.right {
    border-top: calc(var(--bar-height) / 2) solid transparent;
    border-bottom: calc(var(--bar-height) / 2) solid transparent;
    border-left: calc(var(--bar-height) * 0.6) solid currentColor;
}

.capture-arrow.left {
    border-top: calc(var(--bar-height) / 2) solid transparent;
    border-bottom: calc(var(--bar-height) / 2) solid transparent;
    border-right: calc(var(--bar-height) * 0.6) solid currentColor;
}

.capture-arrow-fast {
    left: calc(var(--bar-width, 50%) + 4px) !important;
}

.capture-arrow-very-fast {
    left: calc(var(--bar-width, 50%) + 8px) !important;
}

.eta-display {
    font-size: 10pt;
    margin-bottom: 10px;
}

.sector-vote-list li {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
    font-size: 10pt;
    margin-bottom: 5px;
    background: linear-gradient(to right,
            #ccc var(--bar-width, 0%),
            transparent 0) bottom / 100% 2px no-repeat;
}

.sector-name {
    text-align: left;
    color: var(--sector-text-color, #aaa);
}

.sector-votes {
    text-align: right;
}

.sector-progress-name {
    text-align: center;
    color: var(--sector-text-color, #aaa);
}

.sector-progress-left {
    text-align: left;
    color: var(--sector-left-text-color, #aaa);
}

.sector-progress-right {
    text-align: right;
    color: var(--sector-right-text-color, #aaa);
}