:root {
    --main-bg-color: rgba(52, 78, 65, 0.5);
    --panel-color: #3A5A40;
    --border-color: #588157;
    --lighter-color: #A3B18A;
    --text-color: #DAD7CD;
    --warn-color: #ff7777;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Consolas', monospace;
}

body,
html {
    height: 100%;
    text-align: center;
    user-select: none;
    background-color: var(--main-bg-color);
    overflow: hidden;
}

img {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.panel {
    color: var(--text-color);
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    font-size: 16px;
}

.scroll-panel {
    scrollbar-color: var(--border-color) var(--lighter-color);
    scrollbar-width: thin;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.panel.left-panel {
    width: 30vw;
}

.panel.right-panel {
    width: calc(70vw - 100px);
    overflow-y: auto;
}

.hide {
    display: none;
}

.loadout-menu {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    font-size: 0;
    width: auto;
    height: auto;
}

.menu-title {
    font-size: 18pt;
    margin-bottom: 15px;
    color: white;
    padding-top: 1vh;
}

.title-weight {
    font-size: 16pt;
    color: white;
}

.slot {
    background-color: var(--panel-color);
    border: 2px solid var(--panel-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 12vh;
    position: relative;
    overflow: hidden;
}

.slot:hover {
    background-color: var(--border-color);
}

.slot.secondary,
.slot.launcher {
    height: 9vh;
}

.slot.ammo {
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

.slot span {
    position: relative;
    z-index: 2;
    color: var(--text-color);
    opacity: 0.8;
    font-weight: bold;
    border-radius: 6px;
    padding: 4px 12px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18pt;
    text-align: center;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    white-space: nowrap;
    overflow: hidden;
}

.slot span.primary-name {
    font-size: 7.8vh;
}

.slot span.secondary-name,
.slot span.launcher-name,
.slot span.ammo-name {
    font-size: 3vh;
}

.selected-slot {
    background-color: var(--border-color) !important;
    border: 2px solid var(--lighter-color);
}

.equipment-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
}

.slot {
    flex: 1 1 calc(33.33% - 10px);
    max-width: calc(33.33% - 10px);
}

.slot.primary {
    flex: 1 1 100%;
    max-width: 100%;
}

.slot.secondary,
.slot.launcher {
    flex: 1 1 calc(50% - 10px);
    max-width: calc(50% - 10px);
}

.ammo {
    margin-top: 15px;
    background: var(--panel-color);
    height: 80px;
}

.primary {
    grid-column: 1 / span 6;
}

.secondary {
    grid-column: 1 / span 3;
}

.launcher {
    grid-column: 4 / span 3;
}

.vest {
    grid-column: 1 / span 2;
}

.uniform {
    grid-column: 3 / span 2;
}

.helmet {
    grid-column: 5 / span 2;
}

.weapon-list {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 50vh;
    overflow-y: auto;
}

.panel-launcher .weapon-list {
    height: calc(80vh + 15px);
}

.outfit-list {
    list-style: none;
    padding: 0;
    margin: 0;
    height: calc(80vh + 15px);
    overflow-y: auto;
}

.backpack-list {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 30vh;
    overflow-y: auto;
}

.ammo-list,
.item-list {
    margin-top: 15px;
    list-style: none;
    padding: 0;
    height: 50vh;
    overflow-y: auto;
}

.weapon-row,
.optic-row,
.muzzle-row,
.bipod-row,
.outfit-row,
.backpack-row,
.ammo-row,
.item-row {
    border: 1px solid var(--border-color);
    padding-left: 10px;
    text-align: left;
}

.optic-row,
.muzzle-row,
.bipod-row {
    font-size: 10pt;
}

.selected-weapon,
.selected-optic,
.selected-muzzle,
.selected-bipod,
.selected-outfit,
.selected-backpack {
    background-color: var(--border-color);
    border: 1px solid var(--text-color);
}

.weapon-list li,
.outfit-list li,
.backpack-list li {
    height: 36px;
    line-height: 36px;
}

.weapon-icon,
.outfit-icon,
.backpack-icon,
.ammo-icon,
.item-icon {
    height: 24px;
    margin: 0 20px 0 0;
    vertical-align: middle;
}

.optic-icon,
.muzzle-icon,
.bipod-icon {
    height: 30px;
    margin-right: 20px;
    vertical-align: middle;
}

.optic-list,
.muzzle-list,
.bipod-list {
    width: 33%;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 30vh;
    overflow-y: auto;
}

.close-button {
    position: absolute;
    top: 0.8vh;
    right: 1vh;
    background-color: var(--border-color);
    width: 3.5vh;
    height: 3.5vh;
    font-size: 3vh;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.close-button:hover {
    background-color: var(--lighter-color);
}

.row-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.quantity-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.quantity-minus,
.quantity-plus {
    background-color: var(--panel-color);
    color: var(--lighter-color);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
}

.quantity-display {
    width: 40px;
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
}

.ammo-row,
.item-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ammo-container {
    display: flex;
    flex-direction: row;
}

.ammo-list,
.item-list {
    width: 50%;
}

.slot.ammo {
    flex: 1 1 100%;
    max-width: 100%;
}

.ammo-icon-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.ammo-icon-container img {
    position: absolute;
    height: 100%;
    object-fit: contain;
    margin: 0;
    padding: 0;
    width: 25%;
}

.ammo-icon-container img:first-child {
    left: 0;
    top: 0;
}

.ammo-icon-container img:nth-child(2) {
    left: 25%;
    top: 0;
}

.ammo-icon-container img:nth-child(3) {
    left: 50%;
    top: 0;
}

.ammo-icon-container img:last-child {
    right: 0;
    top: 0;
}

.ammo-icon-container img {
    width: 25% !important;
}

.ammo-icon-container img:first-child {
    left: 0 !important;
    right: auto !important;
    transform: none !important;
}

.ammo-icon-container img:nth-child(2) {
    left: 25% !important;
    right: auto !important;
    transform: none !important;
}

.ammo-icon-container img:nth-child(3) {
    left: 50% !important;
    right: auto !important;
    transform: none !important;
}

.ammo-icon-container img:last-child {
    left: auto !important;
    right: 0 !important;
    transform: none !important;
}

.quantity-plus:hover,
.quantity-minus:hover {
    background-color: var(--text-color);
}

.item-in-use {
    background-color: var(--border-color);
    border-color: var(--border-color);
}

.ammo-flash {
    background-color: var(--warn-color);
    border-color: var(--warn-color);
}

.locked {
    color: var(--warn-color);
}

.loadouts-title {
    margin-top: 2vh;
    margin-bottom: 1vh;
    font-size: 20pt;
}

.loadout {
    background-color: var(--panel-color);
    border: 2px solid var(--panel-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 10pt;
    display: flex;
    flex: 1;
    padding: 5px 15px;
    margin-top: 3px;
}

.loadout-weapon-name {
    flex: 33%;
    margin: 0 10px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selected-loadout {
    background-color: var(--border-color) !important;
    border: 2px solid var(--lighter-color);
}

.loadout:hover {
    background-color: var(--border-color);
}

.loadouts-options-row {
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    gap: 15px;
}

.reset-all,
.reset-current {
    flex: 1;
    height: 30px;
    background-color: var(--panel-color);
    border: 2px solid var(--panel-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.reset-all:hover,
.reset-current:hover {
    background-color: var(--border-color);
}

.fps-display {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 1000;
}