* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body,
html {
    height: 100%;
    text-align: center;
    overflow: hidden;
}

.menu-wrapper {
    display: inline-block;
    width: 80vw;
    height: 80vh;
    border-radius: 10px;
    border: 2px solid #444;
    background-color: #2a2a2a;
    position: absolute;
    left: 10vw;
    top: 10vh;
}

.menu-title {
    background-color: #222;
    color: #fff;
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 2px solid #444;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.close-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.fps-display {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 1000;
}