:root {
    --base-font-size: 18px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Consolas', monospace;
    font-weight: bold;
    font-size: var(--base-font-size);
}

body,
html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.target-wrapper {
    position: fixed;
    display: inline-block;
    margin-top: 30vh;
    margin-left: 60vw;
}

.missile-wrapper {
    position: fixed;
    display: inline-block;
    margin-top: 20vh;
    margin-left: 5vw;
}

.recon-wrapper {
    position: fixed;
    display: inline-block;
    margin-top: 15vh;
    width: 100vw;
}

.ecm-wrapper,
.mortar-wrapper {
    position: fixed;
    display: inline-block;
    margin-top: 7vh;
    width: 100vw;
    text-align: center;
}

.weapon-wrapper {
    position: fixed;
    text-align: right;
    background-color: gray;
    color: white;
}

.weapon-name {
    margin-right: 0.5em;
    vertical-align: middle;
    font-family: "Arial", sans-serif;
    font-size: 11pt;
    font-weight: normal;
}

h1,
h2,
p,
li {
    color: #14cb00;
    list-style: none;
    margin: 0;
    padding: 0;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h1 {
    font-size: calc(var(--base-font-size) * 1.7);
}

h2 {
    font-size: calc(var(--base-font-size) * 1.2);
    margin-right: var(--base-font-size);
}

.range-warning {
    font-size: calc(var(--base-font-size) * 0.9);
    color: red;
    margin-top: calc(var(--base-font-size) * 0.3);
}

.gps-controls {
    margin-top: calc(var(--base-font-size) * 0.8);
}

.munition-display {
    margin-top: calc(var(--base-font-size) * 3.2);
}

.munition-display li {
    color: #14cb00;
}

.mode {
    display: none;
}

.missile-wrapper .missile-table {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.missile-wrapper .missile-row {
    display: grid;
    grid-template-columns: 10ch 14ch 12ch 8ch;
    column-gap: 3ch;
    align-items: baseline;
    white-space: nowrap;
}

.missile-wrapper .missile-row+.missile-row {
    margin: 0;
}

.recon-indicator {
    text-align: center;
    font-size: calc(var(--base-font-size) * 1.5);
}

.ecm-indicator,
.recharge-indicator,
.mortar-indicator {
    font-size: calc(var(--base-font-size) * 1.2);
}

.recharge-indicator {
    color: white;
}