body {
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#hud {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

.ref-label-1,
.ref-label-2,
.ref-label-3,
.ref-label-point,
.ref-label-nose {
    margin: 0;
    padding: 0;
    color: lime;
    font-size: 16px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}